---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="flex justify-between items-center w-full h-full">
    <h1 class="text-4xl text-red-500">Rebeca Lima</h1>
  </main>
</Layout>
